@charset "UTF-8";
/* CSS Document */
	@media only screen 
and (min-width : 1280px) {
	
body{
	width:auto;
	height:auto;
	background-color:#000;
	font-family: Helvetica, Arial, sans-serif, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed";
	
	}

.paragraph{
    color:#FFFFFF;
    font-size: 15px;
	text-indent: 50px;
	text-align: justify;
	width:1200px;
	margin : 100px auto 0;
    }
    
.container{
	width:100%;
	height:600px;
	margin: 30px auto 50px auto
		;
	}
	
.title{
	position:absolute;	
	}
	
.separator{
	width:70%;
	height:auto;
	margin: 0 auto 0;
	opacity: 0;
	
	}
	
.box{
	width:100%;
	height:55px;
	background-color:#99CC33;
	z-index:-1;
	}
	
/*home*/
#home{
	width:100%;
	height:600px;
	margin: 30px auto 50px auto;
	}
#logo{
	width:300px;
	height:auto;
	margin: auto;
	}

#logo_type{
	width:364px;
	height:auto;
	margin:30px auto;
	}
/*home*/

/*tentang kami*/
#about_us{
	width:100%;
	height:350px;
	margin: 100px auto 50px auto;
	}
	
#tentang_kami{
	width:338px;
	height:auto;
	top:760px;
	left: 35px;
	-moz-bottom:-133px;
	}
/*tentang kami*/

/*galleri*/
#gallery{
	width:100%;
	height:800px;
	margin: 70px auto 50px auto;
		}
#galleri{
	width:200px;
	height:auto;
	top:1260px;
	right:60px;
	}
	
#album{
	width:90%;
	height:auto;
	margin: 50px auto;
	}
/*galleri*/

/*even & promo*/
#even_promo{
	width:394px;
	height:auto;
	top:2220px;
	left:500px;
	
	}
/*even & promo*/
#event{
	width:100%;
	height:600px;
	margin: 100px auto 50px auto;
	}

/*kontak*/
#kontak{
	width:200px;
	height:auto;
	top:3050px;
	left: 35px;
	-moz-bottom:-1750px;
	
	}
/*kontak*/
#contact{
	width:100%;
	height:600px;
	margin: 170px auto 50px auto;
	}

/*copyright*/
#copyright{
	width:100%;
	height:100px;
	background-color:#99CC33;
	}

.copyright_content{
	font-size:17px;
	color:rgba(255,255,255,1.00);
	display:inline;
	left:10%;
	margin:50px 20px 0 20px;
	}
#copyright_paragraph{
	margin-top: 45px;
	position:absolute;
	left:2%;
	}
.copyright_content_2{
	width:auto;
	height:10px;
	display:inline-block;
	margin:auto 30px 0 0;
	}
	
#copyright_content_2{
	width:130px;
	height:30px;
	right: 7%;
	margin-top:40px;
	}

/*copyright*/

}